.card {
  color: white;
  min-width: 400px;
  max-width: 100%;
  width: 100%;
  min-height: 240px;
  height: 320px;
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0.33);
  background-image: radial-gradient(
      at 12% 89%,
      hsla(268, 100%, 50%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 91% 2%, hsla(123, 86%, 62%, 1) 0px, transparent 50%);
  backdrop-filter: blur(7.2px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #225;
  align-items: left;
  gap: 10px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  max-width: 100%;
  display: flex;
  gap: 6px;
  align-items: center;
}

h3 {
  margin-top: 0;
}

.description {
  font-weight: 600;
  font-size: 15px;
  max-width: 100%;
}
.icons {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  bottom: 1rem;
  right: 2rem;
}
@media screen and (max-width: 425px) {
  .card {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    margin: 0 2rem;
    padding: 1rem;
    height: 400px;
  }
  .card .title {
    font-size: 20px;
  }
  .description {
    font-size: 13px;
  }
  .icons {
    bottom: 1rem;
    left: 3.3rem;
  }
}
