.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw - 15px);
  width: calc(100vw - 15px);
}

.header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 60px;
}
.header ul li a {
  color: #fff;
  font-size: 24px;
  font-weight: medium;
}
.header .logo {
  height: 62px;
}

@media screen and (max-width: 425px) {
  .header ul li a {
    font-size: 12px;
  }
  .header ul {
    gap: 12px;
  }
  .header .logo {
    height: 30px;
  }
}
